#main-card {
  padding: 20px;
}

.filtroPorEmpresa {
  height: 100px;
  background-color: rgb(56, 80, 126);
  width: 100%;
  display: block;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pointer{
  cursor: pointer;
  transition: 0.5s;
}

.pointer:hover{
  transform: scale(1.1);
}

.tagEmpresa {
  color: rgb(31, 15, 175);
  display: inline-block;
  background-color: rgb(232, 236, 240);
  border-radius: 5px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 10px;
  border-left: solid 10px rgb(38, 102, 221);
  transition: 0.2s;
  cursor: pointer;
  white-space: nowrap;
}

.tagEmpresa:hover {
  border-left: solid 20px rgb(0, 252, 252);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table tr.active td {
    background-color:#123456 !important;
    color: white;
  }

.tagEmpresa:active {
  background-color: rgb(0, 253, 34);
  transform: scale(1.1);
}



label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.thead-dark{
    color: white !important;
}
.modal-dialog {
    max-width: 1150px !important;
    margin: auto;
}

.ajustyModal{
  margin: 100px auto;
}

.modal-header{
    background-color: #123456;
}

.modal-body{
  color: #123456;
}

.btn-darkblue{
  background: #123456;
  color: white;
}

.full{
  width: 100%;
}

th{
  color: white !important;
}