<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Header Content -->
    </div>
  </div>
</div>


<div class="container-fluid mt--7">

  <div class="card" id="main-card">

    <div class="card-header">

      <h2>Assunto do ticket</h2>

    </div>

    <div class="card-body">


    </div>

    <div class="card-footer ">

      <br />

      <div class="row">
        <div class="col-7">
          <textarea id="messageInput" (keyup)="enterListerner($event)" cols="20" class="form-control" rows="2"></textarea>
        </div>
        <div class="archiveLoad col-3">
          <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Escolher arquivo</label>
        </div>
        <div class="col-1">
          <button id="sendMessagemBtn" type="button" class="btn btn-info" >Enviar </button>
        </div>

      </div>
    </div>

  </div>

</div>

<div class="modal fade" id="imagePreviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Visualização da imagem</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="previewImage" width="500" height="300" src="{{loadedFile}}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="sendImage()" >Confirmar e enviar</button>
      </div>
    </div>
  </div>
</div>