#main-card {
    padding: 20px;
  }
  
  .customBtn {
    width: 100%;
    position: sticky;
    z-index: 1;
  }
  
  .modal-dialog {
    max-width: 1150px !important;
    margin: auto;
  }
  
  .table {
    height: 300px;
  }
  
  .sticky {
      position: sticky !important;
      bottom: 50px;
    }